{% extends 'main.html' %}
{% block content %}

<div class = "header"> <h2>Predict Your Chance of Admission</h2></div>
<div class = "predict">
     <form action = '{%url 'result' %}'>
        <br>
        {% csrf_token %}
		<input type = "text" required name = "gre" id="gre_score" placeholder = "Enter your GRE score">
		&nbsp; &nbsp;&nbsp;
		<input type="text" required name="toefl" id="toefl_score" placeholder="Enter your TOEFL score">
		<br><br>
		<input type="text" required name="toefl" id="toefl_score" placeholder="Enter university rating">
		&nbsp; &nbsp;&nbsp;
		<input type="text" required name="toefl" id="toefl_score" placeholder="Enter your SOP score">
		<br><br>
		<input type="text" required name="toefl" id="toefl_score" placeholder="Enter your LOR score">
		&nbsp; &nbsp;&nbsp;
		<input type="text" required name="toefl" id="toefl_score" placeholder="Enter your CGPA">
		<br><br>
		<input type="submit" required name="toefl" id="toefl_score" placeholder="Predict">



</div>


{%endblock content%}



